{
  "parser": "babel-eslint",
  "rules": {},
  "plugins": [
    "react"
  ],
  "extends": [
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}