#for mac
.DS_Store

#node
node_modules/
bower_components/

#npm
*.log
package-lock.json

#test
coverage/

#sass
.sass-cache/

#webstorm
build/
dist/

#vs
.vscode/
.history/

#vim
*.swp

debug.log

.editorconfig
.tern-port

#webstorm
.idea